<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>po/Speak</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->


        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet">

		<link href="{{ static('favicon.ico') }}" rel="shortcut icon">
        <link href="{{ static('styles.css') }}" rel="stylesheet">


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>



	</head>
	<body>

			<!-- start nav menu -->
		    <nav class="navbar navbar-default navbar-fixed-top">
		      <div class="container">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" href="#">po/Speak</a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          
		          <ul class="nav navbar-nav">
		            <li class="active"><a href="{{ url_for('index') }}">Current Chat</a></li>
		            <li><a href="{{ url_for('index') }}">New Chat</a></li>
		            <li><a href="{{ url_for('index') }}">Random Chat</a></li>
		          </ul>

				  <!-- right float 'profile' 
   		    	  <ul class="nav nav-pills navbar-right" role="tablist">
			        <li role="presentation" class="active"><a href="{{ url_for('index') }}">Home <span class="badge">42</span></a></li>
			        <li role="presentation"><a href="{{ url_for('index') }}">Profile</a></li>
			        <li role="presentation"><a href="{{ url_for('index') }}">Messages <span class="badge">3</span></a></li>

					

					<li class="dropdown">
                		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sign In <span class="caret"></span></a>
                		<ul class="dropdown-menu" role="menu">

					      <form class="form-signin">
					        <h2 class="form-signin-heading">&nbsp;Please sign in</h2>
					        <label for="inputEmail" class="sr-only">Email address</label>
					        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
					        <label for="inputPassword" class="sr-only">Password</label>
					        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
					        <div class="checkbox">
					          <label>
					            <input type="checkbox" value="remember-me"> Remember me
					          </label>
					        </div>
					        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
					      </form>

                		</ul>
              		</li>

					



			      </ul>
			      end right float 'profile -->


		        </div><!--/.nav-collapse -->
		      </div>
		    </nav>
			<!-- end nav menu -->



			<div class="container">

				<!--hack -->
				<br><br><br><br>
				<!-- end of hack-->

				<!-- main -->
						<div class="full col-sm-9" id="main">
						  
							<!-- content -->
							
				            {% for message in get_flashed_messages() %}
				                <div class="alert">{{ message }}</div>
				            {% endfor %}
				            {% block content %}
				            {% endblock %}
							
							<!-- end of content -->
						  
						</div><!-- /col-9 -->

				<!-- /main -->
			

			</div>


			<nav class="navbar navbar-default navbar-fixed-bottom">
		      <div class="container">
		        <div class="navbar-header">
		        				  <!-- right float 'profile' -->
   		    	  <ul class="nav nav-pills navbar-right" role="tablist">
			        <li role="presentation" class="active"><a href="{{ url_for('index') }}">Home <span class="badge">42</span></a></li>
			        <li role="presentation"><a href="{{ url_for('index') }}">Messages <span class="badge">3</span></a></li>

					<!-- dynamic dropdown sign in -->
					<li class="dropdown">
                		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sign In <span class="caret"></span></a>
                		<ul class="dropdown-menu" role="menu">

					      <form class="form-signin">
					        <h2 class="form-signin-heading">&nbsp;Please sign in</h2>
					        <label for="inputEmail" class="sr-only">Email address</label>
					        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
					        <label for="inputPassword" class="sr-only">Password</label>
					        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
					        <div class="checkbox">
					          <label>
					            <input type="checkbox" value="remember-me"> Remember me
					          </label>
					        </div>
					        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
					      </form>

                		</ul>
              		</li>

					<!-- end dynamic dropdown sign in -->



			      </ul>
			      <!-- end right float 'profile -->'
		        </div>
		      </div>
		    </nav>







	</body>
</html>