{% from "util.html" import render_field %}

{% extends "base.html" %}

{% block content %}

    <br><br><br>

    {% for comment in comments %}
        <blockquote>
            <p>{{ comment.text }}</p>
            <footer>{{ comment.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</footer>
        </blockquote>
    {% endfor %}

    {% for message in get_flashed_messages() %}
        <div id="alert_message" class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <br><br><br><br>

{% endblock %}

{% block chatbox %}
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ render_field(form.text, label=False, class="form-control", autofocus="autofocus") }}
    </form>
{% endblock %}





{% block login %}

    <form action="{{ url_for('index') }}" method="post" class="form-signin">
      
            


        {{ loginform.hidden_tag() }}
              
        {{ loginform.email.label }}
        {{ loginform.email(class_='form-control', type='email') }}
         
        {{ loginform.password.label }}
        {{ loginform.password(class_='form-control', type='password') }}
         
        {{ loginform.submit(class_='form-control', type='submit') }}
                 
    </form>





{% endblock %} 