{% from "util.html" import render_field %}

{% extends "base.html" %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.text, label=False, class="input-xlarge", autofocus="autofocus") }}
    </form>
    {% for comment in comments %}
        <blockquote>
            <p>{{ comment.text }}</p>
            <small>{{ comment.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</small>
        </blockquote>
    {% endfor %}
{% endblock %}





{% block login %}

    <form action="{{ url_for('login') }}" method="POST" class="form-signin">
        <h2 class="form-signin-heading">&nbsp;Please sign in</h2>
        
        <label for="email" class="sr-only">Email address</label>
        {{ render_field(form.email, class="form-control") }}
        
        <label for="password" class="sr-only">Password</label>
        {{ render_field(form.password, class="form-control") }}
        
        <div class="checkbox">
        <label>
        {{ render_field(form.remember) }}
        </label>
        </div>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

{% endblock %} 