{% from "util.html" import render_field %}

{% extends "base.html" %}

{% block content %}

    <br><br><br>

    {% for comment in comments %}
        <blockquote>
            <p>{{ comment.text }}</p>
            <footer>{{ comment.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</footer>
        </blockquote>
    {% endfor %}

    {% for message in get_flashed_messages() %}
        <div id="alert_message" class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <br><br><br><br>

{% endblock %}

{% block chatbox %}
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ render_field(form.text, label=False, class="form-control", autofocus="autofocus") }}
    </form>
{% endblock %}





{% block login %}

    <form action="{{ url_for('login') }}" method="POST" class="form-signin">
        <h2 class="form-signin-heading">&nbsp;Please sign in</h2>
        
        <label for="email" class="sr-only">Email address</label>
        {{ render_field(form.email, class="form-control") }}
        
        <label for="password" class="sr-only">Password</label>
        {{ render_field(form.password, class="form-control") }}
        
        <div class="checkbox">
        <label>
        {{ render_field(form.remember) }}
        </label>
        </div>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

{% endblock %} 